<div id={{message.id}} class="message-container">
     <div class="message-info-container">
        <span class="user-displayName">{{ message.displayName }}</span>
        <span class="user-email">{{ message.email }}</span>
    </div>

    <span class="message">{{ message.message }}
      <span class="time-stamp">{{ message.timeStamp}}</span>
    </span>

    <div class="message-buttons-container">
        <button type="button" class="message-button edit-message-button" title="Edit Message" (click)="editMessage()"></button>
        <button type="button" class="message-button remove-message-button" title="Delet Message" (click)="deleteMessage()"></button>
    </div>
</div>
