.message-editing-container {
  position: absolute;
  margin: auto;
  align-items: center;
  width: 54%;
  height: 6%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 23%;
  right: 23%;
  bottom: 0;
  z-index: 5;
}
.message-editing-container #message-editing-textarea {
  width: 84%;
  height: 100%;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
  background-color: #c6c6ce;
  border: none;
}
.message-editing-container #message-editing-textarea:focus {
  border: 2px solid #757585;
}
.message-editing-button {
  width: 16%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  color: #40414d;
  font-size: 19px;
  background-color: #8d8f92;
  transition: all 0.3s linear;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.message-editing-button:hover {
  background-color: #75857f;
}
.message-editing-button:active {
  font-size: 18px;
}
