<div class="authentication-container">
    <div *ngIf="isAutorized" class="user-info-container">
        <img *ngIf="photoURL" src="{{ photoURL }}" alt="user-photo" class="user-photo">
        <span class="user-display">{{ diplayName }}</span>
        <span class="user-name">{{ email }}</span>
    </div>
    <div class="submenu">
      <button id="ga" class="fa fa-google authentication-button" (click)="authenticationGoogle()">{{ isAutorized ? ' out' : ' sign in' }}</button>
      <!-- <button id="fa" class="fa fa-google-plus authentication-button" (click)="authenticationFaceBook()">{{ isAutorized ? 'out' : '' }}</button> -->

    </div>
</div>
