  .messages-box {
    position: absolute;
    top: 9%;
    display: flex;
    flex-direction: column;
    width: 54%;
    left: 23%;
    right: 23%;
    height: 85%;
    overflow-y: auto;
    background-color: #bdbdbdc2;
  }
