.message-sending-container {
  position: absolute;
  margin: auto;
  align-items: center;
  width: 54%;
  height: 6%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 23%;
  right: 23%;
  bottom: 0;

  #message-sending-input {
    width: 84%;
    height: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    background-color: #c6c6ce;

    &:focus {
      border: 2px solid #757585;
    }
  }
  .message-sending-button {
    width: 16%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    color: #40414d;
    font-size: 19px;
    background-color: #8d8f92;
    transition: all 0.3s linear;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #757585;
    }
    &:active {
      font-size: 18px;
    }
  }
}
